/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

html { 
  font-size: 14px; 
}

p {
  font-family: 'Nunito', Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Oswald', Arial, sans-serif;
  font-weight: bold;
}

a {
    color: #7F055F;
}

a:hover {
    color: #F514B9;
}

body {
    background-color: #F2F4F8;
    color: #151C28;
}