/*-- scss:defaults --*/

@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

/*-- scss:rules --*/

#quarto-document-content {
  font-family: Ubuntu, Arial, sans-serif;
  font-size: 15pt;
  margin-bottom: -50pt !important;
  
  h1 {
    font-family: Fraunces, "Times New Roman", Times, serif;
    font-weight: 500;
    font-size: 2.8em;
    line-height: 1;
  }
  
  h2 {
    font-family: Fraunces, "Times New Roman", Times, serif;
    font-weight: 500;
    font-size: 2.2em;
    line-height: 1;
  }
  
  a {
    color: #508080;
  }
}

.cr-section {
  
  .narrative-col {
    background-color: rgba(47, 79, 79, 1);
    color: #F0F5F5;
    min-width: 400px;
    
  }
}

.cr-section .sticky-col {
  padding-left: 10px;
  padding-right: 10px;
}

/* mobile sizing (bootstrap: xs) is always overlay-center */
//@media (max-width: 575.98px) {
@media (max-width: 575.98px) {
  .cr-section.sidebar-left,
  .cr-section.sidebar-right,
  .cr-section.overlay-left,
  .cr-section.overlay-right,
  .cr-section.overlay-center {
    
    .narrative-col {
      background-color: transparent;
      
      .narrative {
        
        > * {
          background-color: rgba(47, 79, 79, .85);
          padding: 5px;
          border-radius: 5px;
        }
      }
    }
  }
}

.cr-section.overlay-left,
.cr-section.overlay-center,
.cr-section.overlay-right {
  .narrative-col {
    background-color: transparent;
    
    .narrative {
      background-color: rgba(17, 17, 17, .7);
    }
  }
}